version: "3.9"

services:
  api:
    build: . # builds from Dockerfile in repo
    env_file:
      - .env.production

    ports:
      - "4021:4021"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - uploads_data:/app/uploads

volumes:
  uploads_data:
